@use "../styles/functions.scss" as *;

.thank-you {
  padding-block: 3em;

  > * {
    margin-inline: auto;
    text-align: center;
  }

  > img {
    aspect-ratio: 1 / 1;
    width: 15%;
  }

  > p {
    color: hsl(var(--Neutral-100));
    font-size: 0.9rem;
  }

  > h1 {
    color: hsl(var(--Primary-100));
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  > p:last-child {
    width: min(30ch, 90%);

    @include breakpoint(medium){
        width: auto;
    }
  }
}
